.perent-div{

   background-color: black;
   min-height: 90vh;
   position: relative;

   .child-div{

       background-color: pink;
       width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
   }
}