nav{
    padding-top:20px ;
    padding-bottom:20px ;
    background-color: yellow;
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            background-color: rgba( 0,0,0,0.5);
            padding: 5px 10px;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            transition: all .5s ease-out;
            a{
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            
        }:hover{
            color: red;
            transition: all .4s ease-in;
    
        }
    }
}